region             = "eu-north-1"
project            = "taskapp-phoenix"
admin_cidrs        = ["203.0.113.0/24"] # replace with your own IP/CIDR
server_instance_type = "t3.micro" # free-tier eligible (t3.medium is blocked by an AWS free-tier account restriction)
worker_instance_type = "t3.micro"  # free-tier eligible
vpc_cidr           = "10.60.0.0/16"
public_subnet_cidr = "10.60.1.0/24"
availability_zone  = "eu-north-1a"
worker_count       = 3
key_name           = "taskapp-phoenix-key"
public_key_path    = "./taskappkey-created.pub"
root_volume_size   = 8
